.avatar {
  height: 42px;
  width: 42px;
}

.avatar-small {
  height: 24px;
  width: 24px;
}

.avatar-large {
  height: 100px;
  width: 100px;
}

body {
  background-color: #e6ecf0;
  color: $color-black;
  margin-top: 64px;
  margin-bottom: 16px;
}

.bg-agree {
  background-color: $color-agree;
}
.bg-disagree {
  background-color: $color-disagree;
}
.bg-neutral {
  background-color: $color-neutral;
}
.bg-white {
  background-color: white;
}

.border-left-8 {
  border-left: solid 8px;
}

.border-agree {
  border-left: solid 8px $color-agree;
}

.border-neutral {
  border-left: solid 8px $color-neutral;
}

.border-disagree {
  border-left: solid 8px $color-disagree;
}

.border-read {
  border-left: solid 8px $color-light-grey;
}

.border-unread {
  border-left: solid 8px $color-primary;
}

.btn-agree {
  color: white;
  background-color: $color-agree;
  
  &:hover {
    -webkit-box-shadow: 3px 3px 12px 0px $color-agree !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-agree !important;
    box-shadow: 3px 3px 12px 0px $color-agree !important;
  }

  svg {
    fill: white;
  }
}

.btn-neutral {
  color: white;
  background-color: $color-neutral;
  
  &:hover {
    -webkit-box-shadow: 3px 3px 12px 0px $color-neutral !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-neutral !important;
    box-shadow: 3px 3px 12px 0px $color-neutral !important;
  }

  svg {
    fill: white;
  }
}

.btn-disagree {
  color: white;
  background-color: $color-disagree;
  
  &:hover {
    -webkit-box-shadow: 3px 3px 12px 0px $color-disagree !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-disagree !important;
    box-shadow: 3px 3px 12px 0px $color-disagree !important;
  }

  svg {
    fill: white;
  }
}

.btn-icon-14 > svg {
  height: 14px;
}

.btn-icon-16 {
  
  svg {
    height: 16px;
    margin-top: -4px;
  }
  &.neutral > svg {
    margin-left: -3px;
  }
}

.btn-icon-24 > svg {
  height: 24px;
}

.btn-circle {
  border-radius: 24px;
  width: 48px;
  height: 48px;
}

.btn-outline-agree {
  color: $color-agree;
  border-color: $color-agree;
}

.btn-outline-neutral {
  color: $color-neutral;
  border-color: $color-neutral;
}

.btn-outline-disagree {
  color: $color-disagree;
  border-color: $color-disagree;
}

.btn-outline-agree:not(:disabled):not(.disabled):active, 
.btn-outline-agree:not(:disabled):not(.disabled).active, 
.show > .btn-outline-agree.dropdown-toggle,
.btn-outline-agree:hover,
.btn-outline-agree.voted{
  color: white;
  
  &.btn-outline-agree {
    background-color: $color-agree;
    -webkit-box-shadow: 3px 3px 12px 0px $color-agree !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-agree !important;
    box-shadow: 3px 3px 12px 0px $color-agree !important;
  }

  svg {
    fill: white;
  }
}

.btn-outline-neutral:not(:disabled):not(.disabled):active, 
.btn-outline-neutral:not(:disabled):not(.disabled).active, 
.show > .btn-outline-neutral.dropdown-toggle,
.btn-outline-neutral:hover,
.btn-outline-neutral.voted {
  color: white;
  
  &.btn-outline-neutral {
    background-color: $color-neutral;
    -webkit-box-shadow: 3px 3px 12px 0px $color-neutral !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-neutral !important;
    box-shadow: 3px 3px 12px 0px $color-neutral !important;
  }

  svg {
    fill: white;
  }
}

.btn-outline-disagree:not(:disabled):not(.disabled):active, 
.btn-outline-disagree:not(:disabled):not(.disabled).active, 
.show > .btn-outline-disagree.dropdown-toggle,
.btn-outline-disagree:hover,
.btn-outline-disagree.voted {
  color: white;
  
  &.btn-outline-disagree {
    background-color: $color-disagree;
    -webkit-box-shadow: 3px 3px 12px 0px $color-disagree !important;
    -moz-box-shadow: 3px 3px 12px 0px $color-disagree !important;
    box-shadow: 3px 3px 12px 0px $color-disagree !important;
  }

  svg {
    fill: white;
  }
}

.btn-rounded {
  &.btn {
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 16px;
  }
  &.btn-lg {
    border-radius: 24px;
    font-size: 16px;
    padding: 11px 24px;
  }
}

.btn-group-lg {
  border-radius: 24px;

  .btn {
    font-size: 16px;
    padding: 11px 24px;

    &.fill-agree:hover {
      background-color: $color-agree;
      border-color: $color-agree;

      svg {
        fill: white;
      }
    }

    &.fill-neutral:hover {
      background-color: $color-neutral;
      border-color: $color-neutral;

      svg {
        fill: white;
      }
    }

    &.fill-disagree:hover {
      background-color: $color-disagree;
      border-color: $color-disagree;

      svg {
        fill: white;
      }
    }
  }

  .btn:first-child {
    border-radius: 24px 0 0 24px;
  }
  .btn:last-child {
    border-radius: 0 24px 24px 0;
  }
}

.card-body,
.card-header {
  background-color: white;
}

.fill-alert {
  fill: $color-danger;
}

.fill-black {
  fill: $color-black;
}

.fill-primary {
  fill: $color-primary;
}

.fill-agree {
  fill: $color-agree;
}

.fill-neutral {
  fill: $color-neutral;
}

.fill-disagree {
  fill: $color-disagree;
}

.fill-light-grey {
  fill: $color-light-grey;
}

.fill-grey {
  fill: $color-grey;
}

.fill-white {
  fill: white;
}

.loading {
  max-width: 20vw;
}

.handle {
  margin-top: -8px;
}

nav {
  background: rgba(255,255,255,0.75);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .nav-blur {
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
  }
  
  &.navbar {
    border-bottom: 1px solid white;
    height: 56px;

    .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: -36px;
      width: 72px;
    }
  }

  &.subnav {
    & > .container {
      @media (min-width: 576px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .nav-notification {
    display: inline-block;

    span {
      background-color: $color-danger;
      font-size: 0.75rem;
      color: white;
      font-weight: bold;
      border-radius: 1rem;
      padding: 0.15rem 0.5rem;
      vertical-align: text-bottom;
    }
  }

  .nav-top-menu {
    z-index: 1;
  }
}

.new-hujah-form:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.notification-indicator {
  min-height: 0.5rem;
    min-width: 0.5rem;
    background-color: #E1306C;
    border-radius: 0.25rem;
    max-width: 0.5rem;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.no-underscore,
.no-underscore:active,
.no-underscore:focus,
.no-underscore:hover {
  text-decoration: none;
}

@media (max-width: 767.98px) {

  .sm-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.text-black {
  color: $color-black;
}

.text-agree {
  color: $color-agree;
}

.text-neutral {
  color: $color-neutral;
}

.text-disagree {
  color: $color-disagree;
}

.text-grey {
  color: $color-grey;
}

.text-light-grey {
  color: $color-light-grey;
}

.text-regular {
  font-weight: 300;
}

.text-14 {
  font-size: 14px;
}

.vote-bar,
.vote-show {
  & > .vote {
    -webkit-transition : width 1s ease;
    -moz-transition : width 1s ease;
    -o-transition : width 1s ease;
    transition : width 1s ease;
  }
}

.vote-bar > .vote {
  height: 12px;
}

.vote-show {
  position: relative;
  height: 48px;
  transform: rotate(180deg);

  button {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    background-color: white;
  }
  .vote {
    height: 24px;
    margin-left: 40px;
    border-radius: 0 12px 12px 0;
  }
  .vote-text {
    transform: rotate(180deg);
    font-size: 14px;
  }
}