// COLORS

$color-agree: #FCAF45;
$color-neutral: #E1306C;
$color-disagree: #833AB4;

$color-primary: #415DE6;
$color-black: #343A40;
$color-grey: #8E8E8E;
$color-light-gray: #BAC2CA;
$color-danger: $color-neutral;


$color-agree-light: lighten($color-agree, 15%);
$color-neutral-light: lighten($color-neutral, 15%);
$color-disagree-light: lighten($color-disagree, 15%);

// BOOTSTRAP OVERRIDE

$primary: $color-primary;
$secondary: $color-grey;
$warning: $color-agree;
$danger: $color-neutral;
$info: $color-disagree;
$light: $color-light-gray;